/*----------------
 google font 
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/*----------------
    header
----------------*/

header{
    background: #2D25A0;
    height: 677px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 49px;
}

nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 36px;
}

.nav button{
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
}

.nav button i{
    color: #fff;
    margin-right: 8px;
}

.nav button a{
    text-decoration: none;
    color: #fff;   
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    margin-right: 100px;
}

.banner-title h1{
    font-size: 64px;
    color: #FFF;
    line-height: 80px;
    margin-bottom: 27px;
}

.banner-title button{
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
}

.banner-title button a{
    text-decoration: none;
    color: #fff;
    margin-right: 8px;
}

.banner-title button i{
    color: #fff;
}

.banner-image img{
    width: 556px;
    height:456px;
}


/*-----------------
  players section
-----------------*/

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
}

.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player img{
    width: 100%;
}

/*-----------------
 highlights section
-----------------*/

.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}

.highlights-title{
    margin-right: 100px;
}

.highlights-title h1{
    font-size: 48px;
    line-height: 60px;
    color: #000;
    margin-bottom: 27px;
}

.highlights-title button{
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
}

.highlights-title button a{
    text-decoration: none;
    color: #fff;
    margin-right: 8px;
}

.highlights-title button i{
    color: #fff;
}

.highlights-image img{
    width: 567px;
    height: 427px;

}



/*----------------
  extra section 1
-----------------*/


.sponsor{
    background: #F2F2F2;
    padding: 50px;
}

.sponsor h1{
    text-align: center;
    font-size: 55px;
    line-height: 3;
    color: red;
}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 60px;
}

.logo img{
    transition: transform 0.5s ease-in-out;
}

.logo img:hover{
    transform: scale(1.4);
}




/*----------------------
 extra section 2 
---------------------*/

.extra-section2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
}

.extra-player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-top: 2px solid red;
}
.extra-player img{
    width: 100%;
}

.extra-player-info h1{
    transition: 1s;
}

.extra-player:hover .extra-player-info h1{
    color: red;
}


/*----------------
    footer 
---------------*/

footer{
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 480px;
}


.social-icon a{
    text-decoration: none;
    color: #969BAB;
}

.social-icon i{
    font-size: 20px;
    margin-right: 21px;
    background:#E7E7E8;
    border-radius: 27px;
    padding: 10px;
}

.copyright p{
    font-size: 18px;
}

/*--------------
   media query 
--------------*/


@media only screen and (min-width: 689px) and (max-width: 1030px){
    .container{
        width: 100%;
    }

    header {
        height: 500px;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav a{
        margin-right: 20px;
    }
    
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner-title h1 {
        font-size: 30px;
        margin-bottom: 9px;
        line-height: 50px;
    }
    
    .banner-image img {
        width: 350px;
        height: 300px;
    }
    
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        padding: 40px;
    }
    
    .highlights {
        display: flex;
        padding: 20px;
        margin-top: 20px;
    }

    .highlights-title {
        margin-right: 0;
    }
    
    .highlights-title h1 {
        font-size: 16px;
        line-height: 40px;
    }
    
    .highlights-image img {
        width: 350px;
        height: 300px;
    }
    
    .logo{
        grid-template-columns: 1fr;
    }
    
    .extra-section2 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 200px;
    }
    
    footer {
        margin-top: 20px;
    }
} 



@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }

    header {
        height: 695px;
    }

    .nav{
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }
    
    .banner-title {
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .banner-title h1 {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 27px;
    }

    .banner-image img {
        width: 320px;
        height: 259px;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 130px;
        margin-top: 5px;
    }
    
    .highlights {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .highlights-title {
        margin-bottom: 29px;
        margin-right: 0;
    }
    
    .highlights-title h1 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .highlights-title p{
         line-height: 28px;
    }

    .highlights-image img {
        width: 530px;
        height: 333px;
    }
    
    .logo{
        grid-template-columns: 1fr;
    }

    .extra-section2 {
        grid-template-columns: 1fr;
    }

    footer {
        margin-top: 30px;
    }

    .footer-logo img {
        width: 88%;
    }
}


@media only screen and (min-width: 350px){

    .players{
        padding: 60px;
    }

    .highlights{
        text-align: center;
    }

    .highlights-image img {
        width: 350px;
        height: 333px;
    }

    .sponsor{
        margin-top: 50px;
    }

    .sponsor h1 {
        text-align: center;
        font-size: 40px;
        line-height: 3;
    }
    
}






